body {
    margin: 0;
    padding: 0;
}

.container {
    background: var(--bg-secondary);
    color: var(--primary);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.selected-info {
    padding: 0.5rem;
    border-bottom: solid 1px var(--primary);
    text-align: center;
}

.commands-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 56%;
}

.command-input {
    display: flex;
    align-items: baseline;
    width: 100%;
}

/* input  with text */
.command-text {
    display: flex;
    align-items: baseline;
    min-width: 50px;
    margin-right: 6px;
}
.input-prompt {}

.real-input {
    background: transparent;
    border: none;
    color: var(--primary);
    font-family: inherit;
    font-size: inherit;
    outline: none;
    padding: 0;
    margin: 0;
    width: auto;
    min-width: 20px;
    flex: 1;
}

.real-input:focus {
    outline: none;
}

.real-input::placeholder {
    color: var(--primary-dim);
}

.multiple-choices-list, .commands-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
}

.command-text, .choice-line, .command {
    border: solid 1px transparent;
    padding: 3px;
}

button:hover, button:focus, button:focus-visible ,
.choice-line:hover, .choice-line:focus, .choice-line:focus-visible,
.command:hover, .command:focus, .command:focus-visible {
    cursor: pointer;
    background: var(--glow-primary);
    border: solid 1px var(--primary-dim);
    /* reset default focus-visible style */
    outline: none;
}

@media only screen and (max-width: 300px) {
    .settings-popup {
        height: 100vh;
        width: 100vw;
        overflow-y: auto;
    }
}

@media only screen and (min-width: 301px) {
    .settings-popup {
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
    }
}

.settings-overlay {
    display: none;
    position: absolute;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.open {
    display: flex;
}

.settings-popup {
    background: var(--bg-primary);
    border: solid 1px var(--glow-primary);
    padding: 6px;
    height: fit-content;
}

.settings-section {
    margin: 1rem 0;
}
.settings-section > h3 {
    margin: 0;
}

.theme-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

button {
    background-color: var(--bg-secondary);
    color: var(--primary);
    border: solid 1px var(--primary);
}


.footer {
    padding: 0.5rem;
    border-top: solid 1px var(--primary);
    text-align: center;
}

.key {
    margin-right: 6px;
}

.key, .key-item {
    font-weight: bold;
    color: var(--primary-bright);
}

/* font size */
html {
    font-size: 22px;
}

p {
    font-size: 1rem;
}

h1 {
    font-size: 1.333rem;
}

h2 {
    font-size: 1.777rem;
}

h3 {
    font-size: 2.369rem;
}

h4 {
    font-size: 3.158rem;
}

h5 {
    font-size: 4.209rem;
}

h6 {
    font-size: 5.61rem;
}
